html{
    font-size: 14px;
    font-weight: 200;
    font-family:  sans-serif;
    /*font-size: 62.5%;*/
    /* setting it to 62.5 percent makes 1rem to 10 pixel */
    }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-top{
    width: 400px;
    height: auto;
    text-align: justify;
    padding: 15px; 
    margin: 15px;
    border-radius: 25%;
    background-color: rgb(175, 228, 228);
}

.main-bottom{
    text-align: left;
    width: 400px;
    height: auto;
    padding: 15px;
    margin: 15px;
    background-color: bisque;
    list-style-position: inside;
    border-radius: 25%;
}

h1,
h3,
h2{
    text-align: center;
}

.ingredients{
    width: 600px;
    height: auto;
    background-color: rgb(153, 184, 140);
    list-style-position: inside;
    text-align: left;
    padding: 15px;
    margin: 15px;
}

.instructions{
    width: 600px;
    height: auto;
    background-color: rgb(124, 197, 240);
    list-style-position: inside;
    text-align: left;
    padding: 15px;
    margin: 15px;
}
